body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color:#333;
  font-size:16px;
  margin:0;
  padding:0;
  background:#333;
  color:#fff;
}

a, a:visited {
  color:#fff;
}

#masthead {
  padding:9px 18px;
  background:#00cef3;
  background: -webkit-linear-gradient(#00cef3, #33ca93); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#00cef3, #33ca93); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00cef3, #33ca93); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#00cef3, #33ca93); /* Standard syntax */
  color:#333;
  text-align:center;
}

h1 {
  font-size: 32px;
  margin-bottom: 0.25em;
}

p {
  margin-top: 0;
}

#container1 {
  background: #fff;
  color: #333;
  padding: 18px;
  overflow: hidden;
}

#container2 {
  padding: 18px;
  text-align: center;
}

#container2 a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 6px 8px;
  margin: 0 8px;
  box-shadow:2px 2px #ddf;
  text-decoration: none;
}

#footer {
  text-align: center;
  line-height: 2.0;
  padding-bottom: 8px;
}

#btc-protocol {
  text-decoration: none;
}

.crossw1rd {
  margin: 0 auto;
}

.grid {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  float: left;
  margin-right:18px;
}

.row {
  clear: left;
  white-space: nowrap;
}

.row > div {
  float: left;
  text-align: center;
  height: 30px;
  width: 30px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  background-color: #fff;
  position:relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.row > div.word {
  background-color: #FCFCD6;
}
.row > div.word.active {
  background-color: yellow;
}

.num {
  font-size: 10px;
  float: left;
  position: absolute;
  left: 2px;
  top: 1px;
}

.letter {
  font-family: "Monaco", "Consolas", monospace;
  font-size: 20px;
  position: relative;
  top: 3px;
  white-space: normal;
}
.correct .letter {
  color: green;
}
.incorrect .letter {
  color: red;
}

.row > div.blank {
  background-color: #555;
}

.clues {
  font-family: "Monaco", "Consolas", monospace;
  float: left;
}
.clues .across, .clues .down {
  margin:4px;
}
.clues h4 {
  font-size: 12px;
  margin:0;
}
.clues div {
  margin: 4px 0;
  padding: 4px;
}
.clues p {
  font-size: 12px;
  margin: 0;
  cursor: default;
  position: relative;
  line-height:1.4;
}
.active_clue {
  background-color: #FCFCD6;
}

.controls {
  margin: 10px 0;
  clear:left;
}

/* CSSButtonGenerator.com */
.controls button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.controls button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.controls button:active {
	position:relative;
	top:1px;
}

